.background-image {
    position: relative;
    background-image: url('../imgs/chess_piece.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.background-image .content {
    position: absolute;
    width: 55%;
    top: 20%;
    left: 15%;
    transform: translate(-15%, -20%);
}

.background-image h1 {
     color: var(--primary-color);
}

@media screen and (max-width: 500px) {
    h1.display-4 {
        font-size: 2.5rem;
    }
    .background-image .content {
        width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .background-image .content p {
        text-align: center;
    }
}