{% extends 'base.html' %}

{% load static %}

{% block title %}
    About Us | Vicksburg Chess Club
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block content %}
<main>
    <section class="container">
        <div class="row">
            <div class="col-sm-12 background-container px-0">
                <div class="background-image">
                    <div class="content">
                        <h1 class="display-4">How It All Started</h1>
                        <p>
                            The Vicksburg Chess Club was created to promote chess in the Mississippi Delta and connect chess enthrusiast with one another.
                        </p>
                    </div>
                </div> 
            </div>
        </div>
    </section>
</main>
  
{% endblock %}